
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins-Regular";
  color: #333;
  font-size: 13px;
  margin: 0; }

input, textarea, select, button {
  font-family: "Poppins-Regular";
  color: #333;
  font-size: 13px; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }

.inner {
  padding: 20px;
  background: #fff;
  max-width: 850px;
  margin: auto;
  display: flex; }
  .inner .image-holder {
    width: 50%; }
  .inner form {
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px; }
  .inner h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    font-weight: 400;
 }
  .inner p{
    font-size: 15px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    margin-bottom: 28px;

  }

.login-title img{
  margin: auto;
  display: block;
  margin-bottom: 5px;
  width: 15px;
}

.login-title{
  margin-top: -15px;
}




.form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px; }
  

button {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #b51f2a;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
}

a{
  text-decoration: none;
  font-size: 12px;
  color: #b51f2a;
  line-height: 10px;
}

.otp{
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: center;

}

.or{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Social{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 15px;
  opacity: 75%;
  font-weight: 500;
}